<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tool Sharing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 justify-content-between" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/search">Search Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search/users">Search Users</a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload Tool</a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if (user) { %>
        <li class="nav-item">
          <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary ms-2" href="/register">Register</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>