body {
    background-color: #f8f9fa;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

h1,
h2 {
    color: #343a40;
}

.list-group-item a {
    font-weight: bold;
    color: #007bff;
}

.list-group-item a:hover {
    color: #0056b3;
}

.img-fluid {
    max-height: 200px;
    object-fit: cover;
}

.navbar {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* above most content */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item .btn {
    margin: 0 5px;
}